/*----------------------------------------------------------------
	 front page
-----------------------------------------------------------------*/
		
body
	background-image: url("img/church/cover4.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment fixed
	
#top-bar
#main-header
#content > .content-area
footer#main-footer > div
	margin-left 30px
	margin-right 30px
	max-width none
	
#content
	min-height 700px
	
#main-header #site-title h1
	font-size 5rem