/*--------------------------------------------------------------
# Icon Font
--------------------------------------------------------------*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* entypo */
[class*="entypo-"]:before
[class*="fontawesome-"]:before
	font-family: 'FontAwesome', sans-serif;

/*--------------------------------------------------------------
# Stylus variables
--------------------------------------------------------------*/
bodyFont = 'Source Sans Pro', sans-serif;
headerFont = 'Patua One', sans-serif;
maxWidth = 1200px
os_green = #0E4431
os_green_bright = #1c8800
os_light_green = #55b555
os_white = ivory
os_black = black