@import url("fonts/font-awesome.css");
[class*="entypo-"]:before,
[class*="fontawesome-"]:before,
[class*="fa-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/*----------------------------------------------------------------
	 front page
-----------------------------------------------------------------*/
body {
  background-image: url("../img/bg/church-main-lg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 1100px) {
  body {
    background-image: url("../img/bg/church-main.jpg");
  }
}
@media (max-width: 700px) {
  body {
    background-image: url("../img/bg/church-main-sm.jpg");
  }
}
@media (max-width: 700px) {
  body {
    background-image: url("../img/bg/church-main-mobile.jpg");
  }
}
@media (min-width: 800px) {
  #top-bar,
  #main-header,
  #content > .content-area {
    margin: auto 50px;
    max-width: none;
  }
}
#brochure-main {
  min-height: 600px;
}
@media (max-width: 1800px) {
  #brochure-main {
    min-height: 500px;
  }
}
@media (max-width: 700px) {
  #brochure-main {
    min-height: 350px;
  }
}
@media (max-width: 600px) {
  #brochure-main {
    min-height: 275px;
  }
}
@media (max-width: 485px) {
  #brochure-main {
    min-height: 200px;
  }
}
#main-header #site-title h1 {
  font-size: 3.2rem;
}
#main-header #site-title h1 span {
  font-size: 2.5rem;
}
@media (max-width: 615px) {
  nav#site-navigation a#nav-button {
    top: -60px;
  }
}
.brochure-wrapper {
  background-color: #fffff0;
  overflow: auto;
}
.brochure-wrapper #primary {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
}
.brochure-wrapper #primary .entry-header {
  display: none;
}
.brochure-wrapper .brochure-content {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding-top: 20px;
}
.brochure-wrapper .brochure-content > div {
  width: 360px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  text-align: justify;
}
.brochure-wrapper .brochure-content > div img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.brochure-wrapper .brochure-content > div h3 {
  text-align: center;
  font-size: 3rem;
}
@media (max-width: 1200px) {
  .brochure-wrapper .brochure-content > div {
    max-width: 90%;
    margin: auto 20px 30px;
  }
}
@media (max-width: 853px) {
  .brochure-wrapper .brochure-content > div {
    width: 90%;
  }
}
