@import('vars.styl')

/*----------------------------------------------------------------
	 front page
-----------------------------------------------------------------*/
		
body
	background-image: url("../img/bg/church-main-lg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment fixed
	@media (max-width: 1650px)
		background-image: url("../img/bg/church-main.jpg");
	@media (max-width: 700px)
		background-image url("../img/bg/church-main-mobile.jpg")
		background-size auto

#top-bar
#main-header
#content > .content-area
	@media (min-width: 800px)
		margin auto 50px
		max-width none
	
#brochure-main
	min-height 600px
	@media (max-width: 1800px)
		min-height 500px
	@media (max-width: 700px)
		min-height 350px
	@media (max-width: 600px)
		min-height 275px
	@media (max-width: 485px)
		min-height 200px
	
	
#main-header #site-title h1
	font-size 3.2rem
	span
		font-size 2.5rem
		
nav#site-navigation a#nav-button
	@media (max-width: 615px)
		top -60px
		
.brochure-wrapper
	background-color os_white
	overflow auto
	#primary
		width maxWidth
		max-width 100%
		margin 25px auto auto
		padding 0 20px
		.entry-header
			display none
	.brochure-content
		width maxWidth
		max-width 100%
		margin auto
		padding-top 20px
		> div
			width 360px
			float left
			margin-right 40px
			margin-bottom 20px
			text-align justify
			img:hover
				opacity .7
				cursor pointer
			h3
				text-align center
				font-size 3rem
				font-family headerFont
			@media (max-width: maxWidth)
				max-width 90%
				margin auto 20px 30px
			@media (max-width: 853px)
				width 90%
