/*--------------------------------------------------------------
# Icon Font
--------------------------------------------------------------*/
@import url(../fonts/font-awesome.css);
/* entypo */
[class*="entypo-"]:before
[class*="fontawesome-"]:before
[class*="fa-"]:before
	font-family: 'FontAwesome', sans-serif;
	

/*--------------------------------------------------------------
# Stylus variables
--------------------------------------------------------------*/
bodyFont = 'Montserrat', sans-serif;
headerFont = 'Josefin Sans', 'Patua One', sans-serif;
maxWidth = 1200px
os_green = #0E4431
os_green_bright = #1c8800
os_light_green = #55b555
os_white = ivory
os_black = black